<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="box-all">
    <div class="container">
        <form action="/add" method="post" th:object="${category}">

            <div class="wrapper_student">
                <h2>Thêm Danh Mục</h2>
                <input type="hidden"/>
                <div class="form_group">
                    <!-- thông tin họ tên -->
                    <label>Tên danh mục</label>
                    <input type="text" placeholder="Enter category" th:field="*{name}"/>
                </div>
                <!-- Phần submit button -->
                <div class="button">
                    <button class="btn btn_primary save-student" type="submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>

</body>
</html>
